DATABASE_URL = postgresql://postgres:yourpassword@localhost:5432/database_name

SECRET_KEY=your_secret_key
ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_FROM=your_email@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_FROM_NAME=AI Meeting
MAIL_STARTTLS=True
MAIL_SSL_TLS=False

WHISPER_MODEL_PATH=path/to/whisper/model

HF_TOKEN=hugging_face_token

LLM_MODEL_NAME=your_llm_model_name
LLM_MODEL_URL=http://your_llm_model_url


GEMINI_API_KEY=your_access_token